.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
nav {
  display: flex;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
  margin-top: 0px;
  padding: 10px;
  background-color: aquamarine;
}

nav > * {
  margin: 10px;
}

nav .leftAlign {
  margin-right: auto;
}
